ggsql-viz {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ggsql-viz .ggsql-scale-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ggsql-viz .ggsql-container {
  transform-origin: top left;
}
